@using Autobots.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/ManagerAccounts/_Accounts.cshtml";

    ViewBag.Title = "Log in";
}
<style>
    .card-box {
        background: rgba(208, 1, 23, 0.52);
    }

    .panel-heading h3 {
        color: #fff;
    }

    .panel-heading .text-custom {
        color: #260184;
    }

    .form-control {
         background-color: rgba(255,255,255,.15);
        color:#000;
    }
    .form-control:hover{
       
    }

        .form-control:focus {
            background-color: #930018;
        }
        .btn-red{
            color:#fff;
            background-color: rgba(107, 5, 5, 0.77) !important;
    border: 1px solid rgba(255,255,255,.15) !important;

        }
        .btn-red:hover{

            background-color: rgba(255, 255, 255, .15) !important;
    border: 1px solid rgba(255,255,255,.15) !important;
    color:#fff;
        }
        .checkbox-primary input[type="checkbox"]:checked + label::before{
            background-color: #d60f0f;
    border-color: #da1111;
        }
        .checkbox label::before{
                border: 2px solid #f5f5f5;
        }

        .text-black{
            color:#000;

        }

        
</style>

<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
               
                <div class="wrapper-page">
                    @Html.ValidationSummary("", new { @class = "text-black" })
                    <div class="card-box">
                        <div class="panel-heading">
                            <h3 class="text-center"> Sign In to <strong class="text-custom">AutoBots</strong> </h3>
                        </div>


                        <div class="panel-body">
                            <form class="form-horizontal m-t-20" action="index.html">

                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="text" required="" placeholder="Email Address" name="@Html.NameFor(x=>x.Email)">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" required="" placeholder="Password" name="@Html.NameFor(x=>x.Password)">
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <div class="checkbox checkbox-primary">
                                            <input id="checkbox-signup" type="checkbox" name="@Html.NameFor(x=>x.RememberMe)" value="true">
                                            <label for="checkbox-signup" style="color:#fff;">
                                                Remember me
                                            </label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group text-center m-t-40">
                                    <div class="col-xs-12">
                                        <button class="btn btn-red btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                                    </div>
                                </div>

                                <div class="form-group m-t-30 m-b-0">
                                    <div class="col-sm-12">
                                        <a href="@Url.Action("ForgotPassword")" class="text-dark" style="color:#fff"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p style="color:#be0014">Don't have an account? <a href="@Url.Action("Register")" class="text-primary m-l-5" style="color:#fff;">Sign Up</a></p>

                        </div>
                    </div>

                </div>


                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}